@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
