@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

/* Animated medical gradient */
body {
  background: linear-gradient(270deg, #1e3a8a, #4f46e5, #7c3aed);
  background-size: 600% 600%;
  animation: gradientMove 16s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
